<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">See Your daily Todo Update </h1>
    <p class="lead">Please Sign Up Or Log In </p>
    <p class="lead">
        <%= link_to "SIGN IN",new_user_session_path,class: "btn btn-primary btn-lg"%>
      </p>
  </div>
</div>