
<ul class="list-group">
    
  <li class="list-group-item">
    <%= todo.name.capitalize%>|
    <%= todo.users_todo.user.name%>
    <!--<span class="pull-xs-right"><%= todo.status%></span>-->
    
  </li>
</ul>